body{
	
	text-align:center;		
	
}


.feld{
	
	height: 85px;
	width: 85px;
	border: 2px solid blue;
	float:left;
	
}

.weiss{
	
	background:white;
	color:black;
}

.schwarz{
	
	background:black;
	color:white;
}

body>div:nth-child(8n+1){
	
	clear:left;
}

